.container {
  background-color: rgb(255, 255, 255);
  color: rgb(38, 38, 38);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  overflow: hidden;
  padding: 20px;

  .add_button_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .add_button {
      width: auto;

      .button_class {
        padding: 6px 12px;
        width: 70px;
        height: auto;
      }
    }
  }



  .add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;

    .img {
      margin-bottom: 3px;
      margin-right: 8px;
    }
  }

  .table {
    padding: 10px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.5rem;
      border-bottom: 1px solid rgb(240, 240, 240);
      color: rgb(38, 38, 38);
      font-size: 0.875rem;
      padding: 20px 86px 8px 8px;

      @media screen and (max-width: 500px) {
        padding: 20px 8px;
      }

      font-weight: 600;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.5rem;
      border-bottom: 1px solid rgb(240, 240, 240);
      padding: 14px 97px 14px 8px;

      @media screen and (max-width: 500px) {
        padding: 20px 8px;
      }

      .image {
        width: 40px;
        height: 40px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .editicon {
        cursor: pointer;
        margin-left: 18px;
      }
    }

    .row:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}