$color-grey-black: #202020;
$color-grey-light: rgb(89, 89, 89);
$color-grey-lightest: #eaeaea61;
$color-grey-dark: #696969;
$color-grey-ligtest: #cfcfcf;
$color-green: rgb(19, 82, 0);
$color-light-blue: rgb(64, 169, 255);
$color-red: rgb(255, 77, 79);
$color-red-light: rgb(255, 141, 141);