@import "../../../styles/variables.scss";
.container {
  background-image: url("../../../assets/png/bgImg.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(100vh);

  .body {
    margin-top: 7rem;
    margin: 20px;
  }

  .cardbody {
    padding: 32px;

    h3 {
      margin: 0px;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.33;
      font-family: "Public Sans", sans-serif;
    }
    .button {
      width: 100%;
    }
  }
  .btn {
    background-color: $color-green;
    border: none;
    padding: 8px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover {
      background-color: $color-green;
    }
    &:active {
      background-color: $color-grey-light !important;
      transform: scale(0.9) translateZ(0px);
    }
  }
  p a {
    color: $color-light-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $color-light-blue;
    }
  }
  Form {
    color: $color-grey-light;
  }
}

.image {
  position: absolute;
  width: 36px;
  border-radius: 4px;
  right: 33px;
  padding: 10px 8px 13px 8px;
  cursor: pointer;
  &:hover {
    background-color: $color-grey-lightest;
  }
}
